<%- include("partials/header.ejs") %>

<div class="blogs">
    <% blogs.forEach(blog => { %>
        <div class="blog_title">
            <h1 href="/<%=blog.title%>">
                <%=blog.title%>
            </h1>

            <span>
                <%= blog.date %>
                <%= blog.time %>
            </span>
        </div>
        

        <p>
            <%=blog.content %>
        </p>

        <a href="/delete">Delete</a>
        <a href="/edit">Edit</a>
        <!-- console.log(`${blog.title}`); -->
    <%});%>
</div>
    

<%- include("partials/footer.ejs") %>