<%- include("partials/header.ejs") %>

    <div class="blogs_display">
        <% blogs.forEach(blog => { %>
            
            
                <a href="/blogs/<%=encodeURIComponent(blog.title) %>" id="blog_title">
                    <%=blog.title%>

                    <span> Created on: 
                        <%= blog.date %>
                        <%= blog.time %>
                    </span>
                </a>
    
            
            <!-- console.log(`${blog.title}`); -->
        <%});%>
    </div>
    
<%- include("partials/footer.ejs") %>