<%- include("partials/header.ejs") %>
     <% blogs.forEach(blog => { %>
            
            
        
           <h3><%=blog.title%></h3> 

            <span> Created on: 
                <%= blog.date %>
                <%= blog.time %>
            </span>
        
            <form action="/delete" method="POST">
                <input type="hidden" name="blog_title" value="<%= blog.title %>">
                <button type="submit">Delete Blog</button>
            </form>
            <a href="/edit">Edit</a>
    
    <!-- console.log(`${blog.title}`); -->
<%});%>
   

<%- include("partials/footer.ejs") %>